*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}

.wrapper{
    .header{
        background: #34a853;
        position: fixed;
        z-index: 100;
        width: 100%;
        top: 0;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s;
        .menu-top-wrap{
            background: #34a853;
            position: relative;
            z-index: 1000;
            
            .container{
                max-width: 1545px;
                width: 100%;
                margin: 0 auto;
                nav{
                    display: flex;
                    height: 48px;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 14px;
                    ul{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        width: 39%;
                        padding: 0 2%;
                        border-left: 1px solid #67be7e;
                        border-right: 1px solid #67be7e;
                        &:first-child{
                            width: 28%;
                            border:none;
                            padding-left: 0;
                        }
                        &:last-child{
                            width: 37%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border: none;
                            line-height: 48px;
                            padding-right: 0;
                        }
                        li{

                            display: inline-block;
                            .mail-container{
                                position: relative;
                                .header__mail{
                                    
                                    padding-right: 0;
                                    display:block;
                                }
                            }
                        a{
                            display: flex; 
                            font-family: "Myriad Pro";
                            color: #ffffff;
                            text-decoration: none;
                            vertical-align: middle;
                        }
                        }
                        img{
                            width: 20px;
                            height: 15px;
                            display:block;
                        }

                    }

                }
            }
        }
       
    }
}